#%RAML 1.0
---

title: Submission Tracker
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/submission-tracker:
  /tracking:
    get:
      displayName: Tracking-data
      description: This endpoint performs a ping
      is: [headers.acceptHeader]
      (annotations.scope): "read:submission-tracker"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:submission-tracker" ] } ]
      queryParameters:
        journeyId:
          type: string
          required: false
      responses:
        200:
          body:
            application/json:
              examples:
                example-1:
                  value: !include examples/tracking-data-example-1.json
    /{id}:
      uriParameters:
        id:
          description: The NINO for the individual. This could also be a UTR.
          type: string
          example: NS123456B
      /{idType}:
        uriParameters:
          idType:
            description: The name of the tax identifier that is supplied in the 'id' field.
            type: string
            example: nino
        get:
          displayName: Tracking data id
          description: This endpoint retrieves the tracking data from a tax identifier.
          is: [headers.acceptHeader]
          (annotations.scope): "read:submission-tracker"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:submission-tracker" ] } ]
          queryParameters:
            journeyId:
              type: string
              required: false
          responses:
            200:
              body:
                application/json:
                  examples:
                    example-1:
                      value: !include examples/tracking-data-id-example-1.json

